[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/sontek/minibufexpl.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/mitechie/pyflakes-pathogen.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/vim-scripts/pathogen.vim
[submodule "bundle/rope-vim"]
	path = bundle/rope-vim
	url = git://github.com/klen/rope-vim.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = git://github.com/klen/pylint-mode.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
